body{
    margin: 0;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
    background-color: #F6F1E9;
}
header{
    background-color: #B4E4FF;
    padding: 25px;
}
img{
    border-radius: 50%;
    box-shadow: 5px;
    
}
h2{
    color: #4F4557;
    padding-top: -14px;
}
main{
    margin: 30px;
    padding: 30px;
}
footer{
    margin-left: 30px;
}
a{
    text-decoration: none;
    color: #009FBD;
    border: #4F4557 1px solid;
    border-radius: 2px;
}
li{
    padding: 5px;
}